# This file contains names of files/folders not to add to
# the remote Git repository but to keep in your local
# WalnutiQ folder

# Java
*.class

# Gradle 
.gradle
/build

# IntelliJ 
.idea
*.iml
*.iws
classes/

# Eclipse
.classpath
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
out/

# Eclipse external tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch